:root {
    /* Color */
    --zinc-950: hsl(240, 7%, 4%);
    --zinc-900: hsl(240, 6%, 10%);
    --zinc-800: hsl(240, 4%, 16%);
    --zinc-700: hsl(240, 5%, 26%);
    --zinc-500: hsl(240, 5%, 47%);
    --zinc-400: hsl(240, 5%, 65%);
    --zinc-300: hsl(240, 8%, 83%);
    --zinc-100: hsl(240, 10%, 96%);
    --zinc-50: hsl(240, 20%, 98%);
    --teal-400: hsl(173, 100%, 42%);

    /* Font */
    --font-primary: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Font Size */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-md: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.5rem; /* 24px */
    --text-2xl: 2rem; /* 32px */
    --text-3xl: 2.5rem; /* 40px */

    /* Spacing */
    --spacing-1: 0.25rem; /* 4px */
    --spacing-2: 0.5rem; /* 8px */
    --spacing-3: 0.75rem; /* 12px */
    --spacing-4: 1rem; /* 16px */
    --spacing-5: 1.5rem; /* 24px */

    /* Font Weigth */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    background-color: black;
}

/* Main Content */
.main-content {
    background-color: var(--zinc-900);
    max-width: 80rem;
    margin-inline: auto;
    border-inline: 1px solid var(--zinc-800);
}

.home-section{
    padding-block: var(--spacing-5);
}

.header-home{
    font-size: var(--text-2xl);
    font-weight: var(--font-bold);
    color: var(--zinc-50);
    line-height: normal;
    letter-spacing: -0.025rem;
}

.text-content{
    font-size: var(--text-md);
    padding-block: var(--spacing-2);
    line-height: 1.625;
    color: var(--zinc-500);
    font-weight: var(--font-medium);
    text-align: left;
    letter-spacing: -0.025rem;
}

.social_links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a.items-social{
    color: var(--zinc-500);
    font-size: var(--text-xl);
    text-decoration: none;
    padding-inline: var(--spacing-2);
}

a.items-social:hover{
    color: var(--zinc-400);
}

.articles-content{
    margin-block: var(--spacing-2);
}

.articles-datetime{
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.articles-datetime span{
    height: 1.125rem;
    width: 2px;
    border-radius: 50%;
    background-color: var(--zinc-400);
}

.articles-datetime time{
    font-size: var(--text-md);
    color: var(--zinc-500);
    font-weight: var(--font-medium);
}