.custom-form {
    background-color: #3f3f46; /* Background sesuai keinginan */
    border: 1px solid rgba(113, 113, 122, 0.7); /* Border lebih halus dengan opacity */
    color: #f4f4f5; /* Text color in dark mode */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Keep background consistent on focus */
.custom-form:focus {
    background-color: #3f3f46; /* Tetap sama saat focus */
    border-color: #71717a; /* Warna border saat focus */
    box-shadow: 0 0 0 0.25rem rgba(63, 63, 70, 0.7); /* Custom ring dengan shadow */
    color: #f4f4f5;
    outline: none; /* Remove default outline */
}

/* Optional: Tambahkan hover untuk interaksi lebih smooth */
.custom-form:hover {
    border-color: rgba(
        113,
        113,
        122,
        0.7
    ); /* Warna border lebih terang saat di-hover */
}

.profile-picture {
    background-image: url(../img/profile-1.jpg);
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.profile-picture-2 {
    background-image: url(../img/profile-2.jpg);
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

/* Tambahkan fokus pada label saat form di fokuskan */
.form-floating>.form-control:not(:placeholder-shown)~label::after{
    background-color: #3f3f46;
}

.wrapper-testimoni {
    border-radius: 8px;
    border: 0.5px solid #3f3f46;
    box-sizing: border-box;
}

.navbar-brand:hover{
    color: #fafafa;
}