:root {
    /* Color */
    --zinc-950: hsl(240, 7%, 4%);
    --zinc-900: hsl(240, 6%, 10%);
    --zinc-700: hsl(240, 5%, 26%);
    --zinc-500: hsl(240, 5%, 47%);
    --zinc-300: hsl(240, 8%, 83%);
    --zinc-100: hsl(240, 10%, 96%);
    --zinc-50: hsl(240, 20%, 98%);
    --teal-400: hsl(173, 100%, 42%);

    /* Font */
    --font-primary: "inter", serif;

    /* Font Size */
    --font-xs: 0.75rem; /* 12px */
    --font-sm: 0.875rem; /* 14px */
    --font-md: 1rem; /* 16px */
    --font-lg: 1.125rem; /* 18px */
    --font-xl: 1.5rem; /* 24px */
    --font-2xl: 2rem; /* 32px */
    --font-3xl: 2.5rem; /* 40px */

    /* Spacing */
    --spacing-1: 0.25rem; /* 4px */
    --spacing-2: 0.5rem; /* 8px */
    --spacing-3: 0.75rem; /* 12px */
    --spacing-4: 1rem; /* 16px */
    --spacing-5: 1.5rem; /* 24px */

    /* Font Weigth */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

/* Color And Background Color */

.bg-prymary {
    background-color: var(---zinc-950);
}

.bg-secondary {
    background-color: var(---zinc-900);
}

.zinc-950 {
    color: var(---zinc-950);
}

.zinc-900 {
    color: var(---zinc-900);
}

.zinc-700 {
    color: var(---zinc-700);
}

.zinc-500 {
    color: var(---zinc-500);
}

.zinc-300 {
    color: var(---zinc-300);
}

.zinc-100 {
    color: var(---zinc-100);
}

.zinc-50 {
    color: var(---zinc-50);
}

/* Color And Background Color */

/* Font Size */
.text-xs {
    font-size: var(--font-xs); /* 12px */
    line-height: 1rem; /* 16px */
}

.text-sm {
    font-size: var(--font-sm); /* 14px */
    line-height: 1.25rem; /* 20px */
}

.text-base {
    font-size: var(--font-md); /* 16px */
    line-height: 1.5rem; /* 24px */
}

.text-lg {
    font-size: var(--font-lg); /* 18px */
    line-height: 1.75rem; /* 28px */
}

.text-xl {
    font-size: var(--font-xl); /* 24px */
    line-height: 2rem; /* 32px */
}

.text-2xl {
    font-size: var(--font-2xl); /* 32px */
    line-height: 2.5rem; /* 40px */
}

.text-3xl {
    font-size: var(--font-3xl); /* 40px */
    line-height: 3rem; /* 48px */
}

.text-4xl {
    font-size: var(--font-4xl); /* 48px */
    line-height: 3.5rem; /* 56px */
}

.text-5xl {
    font-size: var(--font-5xl); /* 64px */
    line-height: 4.5rem; /* 72px */
}

/* Font Size */

/* Font Weight */
.font-regular {
    font-weight: var(--font-regular);
}

.font-medium {
    font-weight: var(--font-medium);
}

.font-semibold {
    font-weight: var(--font-semibold);
}

.font-bold {
    font-weight: var(--font-bold);
}

/* Font Weight */

/* === Padding === */

/* Padding X */
.px-1 {
    padding-inline: var(--spacing-1); /* 4px */
}

.px-2 {
    padding-inline: var(--spacing-2); /* 8px */
}

.px-3 {
    padding-inline: var(--spacing-3); /* 12px */
}

.px-4 {
    padding-inline: var(--spacing-4); /* 16px */
}

.px-5 {
    padding-inline: var(--spacing-5); /* 24px */
}

/* Padding X */

/* Padding Y */
.py-1 {
    padding-block: var(--spacing-1); /* 4px */
}

.py-2 {
    padding-block: var(--spacing-2); /* 8px */
}

.py-3 {
    padding-block: var(--spacing-3); /* 12px */
}

.py-4 {
    padding-block: var(--spacing-4); /* 16px */
}

.py-5 {
    padding-block: var(--spacing-5); /* 24px */
}
/* Padding Y */

/* Padding Start */
.ps-1 {
    padding-inline-start: var(--spacing-1); /* 4px */
}

.ps-2 {
    padding-inline-start: var(--spacing-2); /* 8px */
}

.ps-3 {
    padding-inline-start: var(--spacing-3); /* 12px */
}

.ps-4 {
    padding-inline-start: var(--spacing-4); /* 16px */
}

.ps-5 {
    padding-inline-start: var(--spacing-5); /* 24px */
}
/* Padding Start */

/* Padding End */
.pe-1 {
    padding-inline-end: var(--spacing-1); /* 4px */
}

.pe-2 {
    padding-inline-end: var(--spacing-2); /* 8px */
}

.pe-3 {
    padding-inline-end: var(--spacing-3); /* 12px */
}

.pe-4 {
    padding-inline-end: var(--spacing-4); /* 16px */
}

.pe-5 {
    padding-inline-end: var(--spacing-5); /* 24px */
}
/* Padding End */

/* Padding Top */
.pt-1 {
    padding-block-start: var(--spacing-1); /* 4px */
}

.pt-2 {
    padding-block-start: var(--spacing-2); /* 8px */
}

.pt-3 {
    padding-block-start: var(--spacing-3); /* 12px */
}

.pt-4 {
    padding-block-start: var(--spacing-4); /* 16px */
}

.pt-5 {
    padding-block-start: var(--spacing-5); /* 24px */
}
/* Padding Top */

/* Padding Bottom */
.pb-1 {
    padding-block-end: var(--spacing-1); /* 4px */
}

.pb-2 {
    padding-block-end: var(--spacing-2); /* 8px */
}

.pb-3 {
    padding-block-end: var(--spacing-3); /* 12px */
}

.pb-4 {
    padding-block-end: var(--spacing-4); /* 16px */
}

.pb-5 {
    padding-block-end: var(--spacing-5); /* 24px */
}
/* Padding Bottom */

/* === Padding === */

/* === Margin === */

/* Margin X */
.mx-1 {
    margin-inline: var(--spacing-1); /* 4px */
}

.mx-2 {
    margin-inline: var(--spacing-2); /* 8px */
}

.mx-3 {
    margin-inline: var(--spacing-3); /* 12px */
}

.mx-4 {
    margin-inline: var(--spacing-4); /* 16px */
}

.mx-5 {
    margin-inline: var(--spacing-5); /* 24px */
}

/* Margin X */

/* Margin Y */

.my-1 {
    margin-block: var(--spacing-1); /* 4px */
}

.my-2 {
    margin-block: var(--spacing-2); /* 8px */
}

.my-3 {
    margin-block: var(--spacing-3); /* 12px */
}

.my-4 {
    margin-block: var(--spacing-4); /* 16px */
}

.my-5 {
    margin-block: var(--spacing-5); /* 24px */
}

/* Margin Y */

/* Margin Start */

.ms-1 {
    margin-inline-start: var(--spacing-1); /* 4px */
}

.ms-2 {
    margin-inline-start: var(--spacing-2); /* 8px */
}

.ms-3 {
    margin-inline-start: var(--spacing-3); /* 12px */
}

.ms-4 {
    margin-inline-start: var(--spacing-4); /* 16px */
}

.ms-5 {
    margin-inline-start: var(--spacing-5); /* 24px */
}

/* Margin Start */

/* Margin End */

.me-1 {
    margin-inline-end: var(--spacing-1); /* 4px */
}

.me-2 {
    margin-inline-end: var(--spacing-2); /* 8px */
}

.me-3 {
    margin-inline-end: var(--spacing-3); /* 12px */
}

.me-4 {
    margin-inline-end: var(--spacing-4); /* 16px */
}

.me-5 {
    margin-inline-end: var(--spacing-5); /* 24px */
}

/* Margin End */

/* Margin Top */

.mt-1 {
    margin-block-start: var(--spacing-1); /* 4px */
}

.mt-2 {
    margin-block-start: var(--spacing-2); /* 8px */
}

.mt-3 {
    margin-block-start: var(--spacing-3); /* 12px */
}

.mt-4 {
    margin-block-start: var(--spacing-4); /* 16px */
}

.mt-5 {
    margin-block-start: var(--spacing-5); /* 24px */
}

/* Margin Top */

/* Margin Bottom */

.mb-1 {
    margin-block-end: var(--spacing-1); /* 4px */
}

.mb-2 {
    margin-block-end: var(--spacing-2); /* 8px */
}

.mb-3 {
    margin-block-end: var(--spacing-3); /* 12px */
}

.mb-4 {
    margin-block-end: var(--spacing-4); /* 16px */
}

.mb-5 {
    margin-block-end: var(--spacing-5); /* 24px */
}

/* Margin Bottom */

/* === Margin === */

/* === Container === */
.container-fluid {
    padding-inline: var(--spacing-4); /* 16px */
}
/* === Container === */

.font-base {
    font-family: var(--font-primary);
}
