.nav-link:hover {
    color: #2dd4bf;
}

.navbar-nav {
    border-radius: 100px;
}

.palette {
    background-color: #1b1b1b;
}

.palette:nth-child(2) {
    background-color: #3d3d3d;
    margin-left: -1rem;
}

.palette:nth-child(3) {
    background-color: #6d6d6d;
    margin-left: -1rem;
}

.palette:nth-child(4) {
    background-color: #a855f7;
    margin-left: -1rem;
}

.palette:nth-child(5) {
    background-color: #c184fc;
    margin-left: -1rem;
}

.palette-1 {
    background-color: #fef9c3;
}

.palette-1:nth-child(2) {
    background-color: #e0f2fe;
    margin-left: -1rem;
}

.palette-1:nth-child(3) {
    background-color: #fee2e2;
    margin-left: -1rem;
}

.palette-1:nth-child(4) {
    background-color: #dcfce7;
    margin-left: -1rem;
}

.icon-project a {
    display: inline;
}

.icon-project .icon-view {
    color: #fefefe;
    text-decoration: none;
    transition: ease-in-out;
    background-color: #2dd4bf;
    border-radius: 5px;
}

.icon-project .icon-view:hover {
    background-color: #5eead4;
}

.btn-submit {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 5px;
    background-color: #2dd4bf;
    color: white;
    border: none;
    font-weight: 500;
}

.btn-submit:hover {
    background-color: #5eead4;
}

@media (max-width: 576px) {
    .nav-link:hover {
        color: #2dd4bf;
    }

    .navbar-nav {
        border: none;
        border-radius: none;
    }
}

@media (max-width: 992px) {
    .nav-link:hover {
        color: #2dd4bf;
    }

    .navbar-nav {
        border: none;
        border-radius: none;
    }
}
