{%extends "base/templates.html"%}

<!-- Title -->
{%block title%} Buddaya {%endblock%} {%block style%}
<link
    rel="stylesheet"
    href="{{url_for('static', filename='frontend/css/projects/buddaya.css')}}"
/>
{%endblock%}

<!-- Content -->
{%block content%}
<!-- Details -->
<section class="pt-lg-60 pb-50" id="details">
    <div class="container-fluid container-xxl">
        <!-- Header -->
        <h2 class="text-lg fw-bold mb-16 text-start teal-400">
            <i class="uil uil-scenery text-2xl teal-400 text-start me-2"></i
            >Buddaya
        </h2>
        <h3 class="text-2xl fw-medium zinc-500 text-start mb-8 text-start">
            Ethnography apps with many features
        </h3>
        <!-- Header -->

        <!-- Grid -->
        <div class="row gap-lg mt-24 align-items-center">
            <div class="col-lg-6 mt-24">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner rounded-3">
                        <div class="carousel-item active">
                            <img
                                src="{{url_for('static', filename='assets/project/buddaya/Buddaya-1.png')}}"
                                class="d-block w-100 rounded-3"
                                alt="image-carousel"
                                loading="lazy"
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="{{url_for('static', filename='assets/project/buddaya/Buddaya-2.png')}}"
                                class="d-block w-100 rounded-3"
                                alt="image-carousel"
                                loading="lazy"
                            />
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="prev"
                    >
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="next"
                    >
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-lg-6 mt-24">
                <div class="text">
                    <h2 class="text-lg zinc-100 fw-medium text-start">
                        Description
                    </h2>
                    <h3 class="text-normal zinc-500 fw-regular mt-8">
                        <i class="uil uil-user teal-400 me-2"></i>Dian Wicaksono
                    </h3>

                    <h3 class="text-normal zinc-500 fw-regular mt-8">
                        <i class="uil uil-calendar-alt teal-400 me-2"></i>May
                        2024
                    </h3>

                    <p class="mt-24 text-sm zinc-500 fw-regular">
                        This design was created as part of a homework assignment
                        at Bina Nusantara University and was developed through
                        full collaboration and teamwork.
                    </p>
                </div>

                <div class="color mb-24">
                    <h2 class="text-lg zinc-100 fw-medium text-start">
                        Another Details
                    </h2>
                    <h3 class="text-normal zinc-100 fw-regular mt-8">
                        <i class="uil uil-palette teal-400 me-2"></i>Color
                        Palette
                    </h3>

                    <div class="color-palette d-flex align-items-center">
                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette text-xxs"
                        ></div>

                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette text-xxs"
                        ></div>

                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette text-xxs"
                        ></div>

                        <h2 class="text-normal zinc-500 fw-medium ms-48">
                            Text Color
                        </h2>
                    </div>

                    <div class="color-palette d-flex align-items-center mt-12">
                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette-1 text-xxs"
                        ></div>

                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette-1 text-xxs"
                        ></div>

                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette-1 text-xxs"
                        ></div>

                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette-1 text-xxs"
                        ></div>

                        <h2 class="text-normal zinc-500 fw-medium ms-16">
                            Accent Color
                        </h2>
                    </div>
                </div>

                <div class="fonts mb-24">
                    <h2 class="text-normal zinc-100 fw-regular mt-8">
                        <i class="uil uil-font teal-400 me-2"></i>Fonts
                    </h2>
                    <p class="text-normal zinc-500 fw-regular mt-8">
                        'Poppins', sans-serif
                    </p>
                </div>

                <div class="tools">
                    <h2 class="text-lg zinc-100 fw-medium text-start">Tools</h2>
                    <div class="d-flex icon-project align-items-center">
                        <img
                            src="{{url_for('static', filename='assets/svg/figma.svg')}}"
                            alt="Icon"
                            width="32"
                            height="32"
                            loading="lazy"
                        />

                        <a
                            href="https://www.figma.com/file/vEUQcl3VKw66xEs3QeLC4X/Untitled?type=design&node-id=0%3A1&mode=dev&t=2XI6wBVynb6YuDpq-1"
                            class="icon-view text-sm fw-medium ms-16 py-12 px-12"
                            target="_blank"
                            >View<i
                                class="uil uil-external-link-alt text-sm ms-2 fw-medium"
                            ></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Details -->
{%endblock%}
