{%extends "base/templates.html"%}

<!-- Title -->
{%block title%} Otto {%endblock%}

<!-- Style -->
{%block style%}
<link
    rel="stylesheet"
    href="{{url_for('static', filename='frontend/css/otto.css')}}"
/>
{%endblock%} {%block content%}
<!-- Details -->
<section class="pt-lg-60 pb-50" id="details">
    <div class="container-fluid container-xxl">
        <!-- Header -->
        <h2 class="text-lg fw-bold mb-16 text-start teal-400">
            <i class="uil uil-scenery text-2xl teal-400 text-start me-2"></i
            >Otto
        </h2>
        <h3 class="text-2xl fw-medium woodsmoke-500 text-start mb-8 text-start">
            E-Procurement Apps for Mobile
        </h3>
        <!-- Header -->

        <!-- Grid -->
        <div class="row gap-lg mt-24 align-items-center">
            <div class="col-lg-6 mt-24">
                <img
                    src="{{url_for('static', filename='assets/project/4.png')}}"
                    alt="image-carousel"
                    class="d-block w-100 h-auto rounded-3"
                    loading="lazy"
                />
            </div>

            <div class="col-lg-6 mt-24">
                <div class="text">
                    <h2 class="text-lg woodsmoke-900 fw-medium text-start">
                        Description
                    </h2>
                    <h3 class="text-normal woodsmoke-500 fw-regular mt-8">
                        <i class="uil uil-user teal-400 me-2"></i>Dian Wicaksono
                    </h3>

                    <h3 class="text-normal woodsmoke-500 fw-regular mt-8">
                        <i class="uil uil-calendar-alt teal-400 me-2"></i>May
                        2024
                    </h3>

                    <p class="mt-24 text-sm woodsmoke-500 fw-regular">
                        This design was made when i have a exam in human and
                        computer interaction class at Bina Nusantara University.
                    </p>
                </div>

                <div class="color mb-24">
                    <h2 class="text-lg woodsmoke-900 fw-medium text-start">
                        Another Details
                    </h2>
                    <h3 class="text-normal woodsmoke-900 fw-regular mt-8">
                        <i class="uil uil-palette teal-400 me-2"></i>Color
                        Palette
                    </h3>

                    <div class="color-palette d-flex">
                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette text-xxs"
                        ></div>

                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette text-xxs"
                        ></div>

                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette text-xxs"
                        ></div>

                        <div
                            class="p-24 rounded-circle justify-content-center align-items-center palette text-xxs"
                        ></div>
                    </div>
                </div>

                <div class="fonts mb-24">
                    <h2 class="text-normal woodsmoke-900 fw-regular mt-8">
                        <i class="uil uil-font teal-400 me-2"></i>Fonts
                    </h2>
                    <p class="text-normal woodsmoke-500 fw-regular mt-8">
                        'Poppins', sans-serif
                    </p>
                </div>

                <div class="tools">
                    <h2 class="text-lg woodsmoke-900 fw-medium text-start">
                        Tools
                    </h2>
                    <div class="d-flex icon-project align-items-center">
                        <img
                            src="{{url_for('static', filename='assets/svg/figma.svg')}}"
                            alt="Icon"
                            width="32"
                            height="32"
                            loading="lazy"
                        />

                        <a
                            href="https://www.figma.com/design/LVfQa9glp2DvdvZc3xcN5Y/Otto?node-id=0-1&t=FRG2yXeTZqV41mgU-1"
                            class="icon-view text-sm fw-medium ms-16 py-12 px-12"
                            target="_blank"
                            >View<i
                                class="uil uil-external-link-alt text-sm ms-2 fw-medium"
                            ></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Details -->
{%endblock%}
