{% extends "base/base.html"%}

<!-- title -->
{%block title%} Helios {%endblock%}

<!-- Content -->
{%block content%}
<!-- Navbar -->
<section class="mt-20 mb-64">
    <nav class="navbar navbar-expand-lg fixed-top background">
        <div class="container-fluid container-xxl">
            <a class="navbar-brand fw-semibold zinc-50 text-2xl" href="#home"
                >Helios</a
            >
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav fw-medium ms-auto text-sm fw-regular">
                    <a class="nav-link zinc-100" href="#about">About</a>
                    <a class="nav-link zinc-100" href="#resume">Resume</a>
                    <a class="nav-link zinc-100" href="#articles">Articles</a>
                    <a class="nav-link zinc-100" href="#project">Project</a>
                    <a class="nav-link zinc-100" href="#exp">Contacts</a>
                </div>
                <!-- <div
                    class="toggle-button d-flex justify-content-end align-items-center"
                >
                    <i
                        class="uil uil-moonset text-3xl theme-button teal-400"
                        id="theme-button"
                    ></i>
                </div> -->
            </div>
        </div>
    </nav>
</section>

<!-- Home Section -->
<section id="home" class="header pt-lg-60 pb-50">
    <div class="container-xxl container-fluid">
        <div class="row gap-lg-0 gap-5">
            <div class="col-lg-8 col-12 my-auto">
                <div class="d-flex align-items-center">
                    <div class="photo-profile mb-3"></div>
                    <p class="ms-2 text-support text-xl teal-400 fw-semibold">
                        Dian Wicaksono
                    </p>
                </div>
                <h1 class="header-title zinc-50 fw-bold text-2xl">
                    Designer, Frontend Developer and Internet of Things
                    Enthusiast
                </h1>
                <p class="mt-32 text-normal zinc-500 fw-regular">
                    A creative designer and junior programmer dedicated to
                    developing innovative solutions for products and businesses,
                    ensuring appealing and functional outcomes. Passionate about
                    fresh, practical ideas that drive success.
                </p>
                <div class="d-flex gap-4 mt-12 mb-24 icon">
                    {%for social in socials%}

                    <a
                        href="{{social.link}}"
                        class="text-3xl zinc-500"
                        target="_blank"
                        ><i class="{{social.icon}}"></i
                    ></a>

                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Section -->

<!-- slider -->
<section id="slider" class="slider">
    <div class="container-fluid container-xxl">
        <div class="slider">
            <div
                class="slide-track d-flex justify-content-center align-items-center"
            >

                {%for svg in svgs%}
                    <div class="slide d-flex align-items-center gap-3">
                        <img
                            src="{{svg.svg}}"
                            height="48"
                            width="48"
                            alt=""
                        />
                        <p class="text-lg pt-3 fw-semibold zinc-500">{{svg.label}}</p>
                    </div>
                {%endfor%}

            </div>
        </div>
    </div>
</section>
<!-- slider -->

<!-- About Section -->
<section id="about" class="about pt-50 pb-50">
    <div class="container-xxl container-fluid">
        <div class="row gap-lg">
            <!-- About grid -->
            <div class="col-lg-6">
                <!-- Heading -->
                <h2 class="text-lg fw-semibold zinc-100 text-start mb-16">
                    About Me
                </h2>
                <!-- Heading -->
                <p class="about-text text-normal fw-regular zinc-500">
                    I am a professional freelancer specializing in technology,
                    focusing on UI/UX Design and Front-End Development. With a
                    high learning spirit, creativity, and a passion for
                    challenges, I adapt to any situation effortlessly. My
                    dedication to creating intuitive and engaging user
                    experiences drives me to continuously expand my skills and
                    knowledge. I strive to deliver high-quality results for
                    every project, ensuring that my work contributes to the
                    success and satisfaction of my clients. My ability to tackle
                    complex problems and develop innovative solutions makes me a
                    valuable asset in any team or project.
                </p>
            </div>

            <!-- What i do -->
            <div class="col-lg-6 what">
                <!-- Heading -->
                <h4 class="text-lg fw-semibold text-start mb-16 zinc-100">
                    Services
                </h4>
                <!-- Heading -->

                <div class="d-flex gap-2 flex-wrap flex-lg-nowrap">
                    <!-- 1 -->
                    <div
                        class="d-flex gap-4 justify-content-center align-items-center px-8 py-8 service-border"
                    >
                        <div>
                            <h4 class="text-normal fw-medium zinc-100">
                                UI/UX Design
                            </h4>
                            <p class="text-sm fw-regular zinc-500">
                                Skilled in design, wireframing, and prototyping
                                using tools like Figma, delivering intuitive and
                                engaging user experiences.
                            </p>
                        </div>
                    </div>

                    <!-- 2 -->
                    <div
                        class="d-flex gap-4 justify-content-center align-items-center py-8 px-8 service-border"
                    >
                        <div>
                            <h4 class="text-lg fw-medium zinc-100">Web Design</h4>
                            <p class="text-sm fw-regular zinc-500">
                                Skilled in slicing designs from Figma using HTML,
                                CSS3, JavaScript, and other technologies to create
                                responsive web interfaces.
                            </p>
                        </div>
                    </div>

                    <!-- 3 -->
                    <div
                        class="d-flex gap-4 justify-content-center align-items-center py-8 px-8 service-border"
                    >
                        <div>
                            <h4 class="text-lg fw-medium zinc-100">
                                Programming
                            </h4>
                            <p class="text-sm fw-regular zinc-500">
                                Knowledgeable in fundamental programming concepts
                                using various languages such as Python, C, and
                                JavaScript.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->

<!-- Resume -->
<section id="resume" class="resume pt-50 pb-50">
    <div class="container-xxl container-fluid">
        <div class="row gap-lg d-flex">
            <div class="col-lg-8">
                <!-- Heading -->
                <h2 class="text-lg fw-semibold zinc-100 text-start mb-16">
                    Education
                </h2>

                <!-- Binus -->
                <div class="mb-24">
                    <!-- Binus -->
                    <p class="date py-8 text-sm zinc-500 fw-500 text-start">
                        <span class="ms-2">2022 - Present</span>
                    </p>
                    <h2 class="text-lg fw-semibold zinc-100 text-start mb-8">
                        Bina Nusantara University
                    </h2>
                    <p class="text-sm fw-regular zinc-500">
                        As a Computer Science student at Bina Nusantara, one of
                        the top accredited universities in Indonesia, I receive
                        comprehensive support both academically and
                        psychologically. This university not only helps me
                        develop critical thinking skills but also fosters better
                        habits for the future.
                    </p>
                </div>

                <!-- BWA -->
                <div>
                    <!-- Binus -->
                    <p class="date py-8 text-sm zinc-500 fw-500 text-start">
                        <span class="ms-2">2021 - Present</span>
                    </p>
                    <h2 class="text-lg fw-semibold zinc-100 text-start mb-8">
                        Build With Angga Online Course
                    </h2>
                    <p class="text-sm fw-regular zinc-500">
                        I have taken online courses on the Build With Angga
                        platform for UI/UX Design and Web Development. Through
                        these courses, I earned several certifications and
                        developed adequate skills. This experience has given me
                        the confidence and readiness to compete in the job
                        market, thanks to the knowledge and expertise I gained
                        from these classes.
                    </p>
                </div>
            </div>

            <!-- Experience -->
            <div class="col-lg-4 experience h-75">
                <div class="wrapper-exp p-4">
                    <h2
                        class="text-lg fw-semibold mb-16 text-start zinc-100"
                    >
                        Experience
                    </h2>

                    <!-- Work 1 -->
                    <div class="wrapper-exp-object">
                        <div class="exp-1 d-flex align-items-center">
                            <!-- Image -->
                            <div
                                class="background-rounded d-flex align-items-center justify-content-center"
                            >
                                <div class="profile-company-1"></div>
                            </div>

                            <!-- Content text -->
                            <div class="text-exp ms-2 mt-3 w-100">
                                <h2
                                    class="fw-semibold text-sm fw-semibold zinc-100"
                                >
                                    Zona Media Indonesia
                                </h2>

                                <div
                                    class="d-flex text-xs justify-content-between"
                                >
                                    <p class="zinc-500 fw-medium">
                                        Frontend Developer
                                    </p>
                                    <p class="zinc-500 fw-regular">
                                        June - September
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Work 2 -->
                    <div class="wrapper-exp-object">
                        <div class="exp-1 d-flex align-items-center">
                            <!-- Image -->
                            <div
                                class="background-rounded d-flex align-items-center justify-content-center"
                            >
                                <div class="profile-company-2"></div>
                            </div>

                            <!-- Content text -->
                            <div class="text-exp ms-2 mt-3 w-100">
                                <h2
                                    class="fw-semibold text-sm fw-semibold zinc-100"
                                >
                                    Helios
                                </h2>

                                <div
                                    class="d-flex text-xs justify-content-between"
                                >
                                    <p class="zinc-500 fw-medium">
                                        UI Designer
                                    </p>
                                    <p class="zinc-500 fw-regular ms-4">
                                        2023 - Present
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a
                        href="{{url_for('static', filename='assets/documents/Dian-Kartiko-Wicaksono-ENG.pdf')}}"
                        class="text-sm fw-medium zinc-300 text-center w-100 py-2 px-3 d-flex justify-content-center mt-4 button-cv"
                        style="text-decoration: none"
                        target="_blank"
                        >Download CV
                        <i class="ms-2 mt-1 text-xxs fa-solid fa-arrow-down"></i
                    ></a>
                </div>
            </div>
            <!-- Experience -->
        </div>
    </div>
</section>
<!-- Resume -->

<!-- Articles -->
<div class="articles pt-50 pb-50" id="articles">
    <div class="container-xxl container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="zinc-100 text-2xl text-start">
                    Articles Highlighting <br />
                    My Passion for Coding and User Experience
                </h2>
                <p class="zinc-500 fw-regular text-md">
                    Discover my latest articles covering web development, design
                    strategies, and innovative tech solutions. Dive into
                    insights, tutorials, and reflections aimed at enhancing
                    creativity and technical expertise in the digital landscape.
                </p>
            </div>

            <!-- Bawah -->
            <div class="wrapper-articles mt-4" style="margin-left: 12px">
                <div class="article-1 d-flex align-items-center">
                    <div class="col-lg-2 px-1">
                        <h2 class="text-sm zinc-500 fw-regular">
                            October 8, 2024
                        </h2>
                    </div>

                    <a href="#" class="col-lg-6">
                        <h2 class="zinc-100 fw-semibold text-normal">
                            Deploying Python Projects on GitHub
                        </h2>
                        <p class="text-sm zinc-500 fw-regular">
                            Learn the essential steps to deploy your Python
                            project to GitHub, from setting up a repository to
                            pushing your code. Perfect for developers looking to
                            streamline their version control and collaboration.
                        </p>
                        <p class="teal-400 text-sm fw-medium">Read Article ></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Articles -->

<!-- Project -->
<section id="project" class="project pt-50 pb-50">
    <div class="container-xxl container-fluid">
        <div class="row gap-lg mb-24">
            <div class="col-lg-6">
                <h1 class="text-xl fw-semibold mb-16 text-start zinc-100">
                    Gallery
                </h1>
                <p
                    class="text-sm fw-regular zinc-500 text-start text-project-heading"
                >
                    Enjoy my gallery. Find inspiration through the designs and
                    projects I've created. I hope you appreciate each piece.
                    Thank you for visiting and exploring my work.
                </p>
            </div>
        </div>

        <div class="row gap-lg justify-content-center d-flex">
            <!-- Card-1 -->
            <a
                href=""
                class="wrapping-card col-lg-4 col-md-6"
                data-aos="zoom-in"
                data-aos-duration="300"
            >
                <!-- Image -->
                <img
                    src="{{url_for('static', filename='assets/project/7-1.png')}}"
                    alt="Project-image"
                    width="auto"
                    height="60"
                    loading="lazy"
                    class="rounded-2 mb-16"
                />

                <!-- Paragraf -->
                <div class="container-text">
                    <h2 class="title-card fw-semibold zinc-100 text-lg">
                        Exotic
                    </h2>
                    <p class="text-sm zinc-500 fw-regular">
                        Exotic: Platform designed to showcase stunning artworks,
                        providing a space for artists to display their
                        creativity.
                    </p>
                    <p class="link-fake text-sm zinc-500 fw-semibold">
                        View <i class="uil uil-arrow-right"></i>
                    </p>
                </div>
            </a>
            <!-- Card-1 -->

            <!-- Card-2 -->
            <a
                href=""
                class="wrapping-card col-lg-4 col-md-6"
                data-aos="zoom-in"
                data-aos-duration="400"
            >
                <!-- Image -->
                <img
                    src="{{url_for('static', filename='assets/project/1.png')}}"
                    alt="Project-image"
                    width="auto"
                    height="60"
                    loading="lazy"
                    class="rounded-2 mb-16"
                />

                <!-- Paragraf -->
                <div class="container-text">
                    <h2 class="title-card fw-semibold zinc-100 text-lg">
                        Linear
                    </h2>
                    <p class="text-sm zinc-500 fw-regular">
                        Fresh mathematical LMS for mobile apps, providing
                        interactive and effective learning anytime, anywhere.
                    </p>
                    <p class="link-fake text-sm zinc-500 fw-semibold">
                        View <i class="uil uil-arrow-right"></i>
                    </p>
                </div>
            </a>
            <!-- Card-2 -->

            <!-- Card-3 -->
            <a
                href=""
                class="wrapping-card col-lg-4 col-md-6"
                data-aos="zoom-in"
                data-aos-duration="500"
            >
                <!-- Image -->
                <img
                    src="{{url_for('static', filename='assets/project/2.jpg')}}"
                    alt="Project-image"
                    width="auto"
                    height="60"
                    loading="lazy"
                    class="rounded-2 mb-16"
                />

                <!-- Paragraf -->
                <div class="container-text">
                    <h2 class="title-card fw-semibold zinc-100 text-lg">
                        Nest
                    </h2>
                    <p class="text-sm zinc-500 fw-regular">
                        Enjoy music with a fresh and simple design in Nest,
                        creating a comfortable and enjoyable listening
                        experience.
                    </p>
                    <p class="link-fake text-sm zinc-500 fw-semibold">
                        View <i class="uil uil-arrow-right"></i>
                    </p>
                </div>
            </a>
            <!-- Card-3 -->

            <!-- Card-4 -->
            <a
                href=""
                class="wrapping-card col-lg-4 col-md-6"
                data-aos="zoom-in"
                data-aos-duration="600"
            >
                <!-- Image -->
                <img
                    src="{{url_for('static', filename='assets/project/3.jpg')}}"
                    alt="Project-image"
                    width="auto"
                    height="60"
                    loading="lazy"
                    class="rounded-2 mb-16"
                />

                <!-- Paragraf -->
                <div class="container-text">
                    <h2 class="title-card fw-semibold zinc-100 text-lg">
                        Steps
                    </h2>
                    <p class="text-sm zinc-500 fw-regular">
                        Steps makes healthy living enjoyable with features like
                        water intake, sleep tracking, and muscle mass
                        monitoring.
                    </p>
                    <p class="link-fake text-sm zinc-500 fw-semibold">
                        View <i class="uil uil-arrow-right"></i>
                    </p>
                </div>
            </a>
            <!-- Card-4 -->

            <!-- Card-5 -->
            <a
                href=""
                class="wrapping-card col-lg-4 col-md-6"
                data-aos="zoom-in"
                data-aos-duration="700"
            >
                <!-- Image -->
                <img
                    src="{{url_for('static', filename='assets/project/4.png')}}"
                    alt="Project-image"
                    width="auto"
                    height="60"
                    loading="lazy"
                    class="rounded-2 mb-16"
                />

                <!-- Paragraf -->
                <div class="container-text">
                    <h2 class="title-card fw-semibold zinc-100 text-lg">
                        Otto
                    </h2>
                    <p class="text-sm zinc-500 fw-regular">
                        Otto offers automotive procurement with a sleek design,
                        ensuring users enjoy a more pleasant and efficient
                        experience.
                    </p>
                    <p class="link-fake text-sm zinc-500 fw-semibold">
                        View <i class="uil uil-arrow-right"></i>
                    </p>
                </div>
            </a>
            <!-- Card-5 -->

            <!-- Card-6 -->
            <a
                href=""
                class="wrapping-card col-lg-4 col-md-6"
                data-aos="zoom-in"
                data-aos-duration="800"
            >
                <!-- Image -->
                <img
                    src="{{url_for('static', filename='assets/project/5.jpg')}}"
                    alt="Project-image"
                    width="auto"
                    height="60"
                    loading="lazy"
                    class="rounded-2 mb-16"
                />

                <!-- Paragraf -->
                <div class="container-text">
                    <h2 class="title-card fw-semibold zinc-100 text-lg">
                        Buddaya
                    </h2>
                    <p class="text-sm zinc-500 fw-regular">
                        Buddaya facilitates Indonesian ethnography. The app
                        inspires youth to engage in creative projects and
                        cultural preservation.
                    </p>
                    <p class="link-fake text-sm zinc-500 fw-semibold">
                        View <i class="uil uil-arrow-right"></i>
                    </p>
                </div>
            </a>
            <!-- Card-6 -->
        </div>
    </div>
</section>
<!-- Project -->

<!-- Testimoni and contacts -->
<section id="exp" class="experience-testimoni pt-50 pb-50">
    <div class="container-xxl container-fluid">
        <div class="row">
            <div class="col-lg-12 d-flex text-center justify-content-center">
                <h2 class="zinc-50 text-3xl fw-bold">
                    Don't take our world for it <br />
                    <span class="teal-400 text-3xl fw-bold">
                        Trust our customer
                    </span>
                </h2>
            </div>
        </div>

        <!-- Testimoni section -->
        <div class="row mt-2">
            <!-- Card 1 -->
            <div
                class="col-lg-4 col-md-6 card-1-testimoni mt-3 mt-md-3"
                data-aos="zoom-in"
                data-aos-duration="300"
            >
                <div class="wrapper-testimoni p-3">
                    <!-- Profile -->
                    <div
                        class="profile d-flex align-items-center justify-content-between"
                    >
                        <div class="profile-left d-flex align-items-center">
                            <!-- Picture -->
                            <div class="profile-picture"></div>

                            <div class="profile-title mt-3 ms-3">
                                <h2 class="text-normal zinc-50 fw-semibold">
                                    Rahma Dewi
                                </h2>
                                <p
                                    class="text-sm zinc-500 fw-regular"
                                    style="margin-top: -4px"
                                >
                                    @dewirahma
                                </p>
                            </div>
                        </div>

                        <div class="profile-right">
                            <i
                                class="fa-brands fa-instagram text-4xl fw-medium zinc-100"
                            ></i>
                        </div>
                    </div>

                    <!-- Content Comment -->
                    <div class="content-comment mt-2">
                        <p class="text-sm zinc-100 fw-medium">
                            <span class="teal-400">@Helios </span>is a sleek and
                            well-organized portfolio. It beautifully showcases
                            skills and projects with ease
                        </p>
                    </div>

                    <!-- Like and Comment -->
                    <div
                        class="information d-flex align-items-center justify-content-between"
                        style="margin-top: -16px"
                    >
                        <!-- Left: Like and comment -->
                        <div class="wrapper-like-comment d-flex">
                            <!-- Like -->
                            <div class="like d-flex align-items-center">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-heart-alt text-2xl zinc-500"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        73
                                    </p>
                                </div>
                            </div>
                            <!-- Comment -->
                            <div class="comment d-flex align-items-center ms-2">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-comment-dots zinc-500 text-2xl"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        41
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Right: Date time -->
                        <div
                            class="wrapper-datetime d-flex align-items-center mt-3"
                        >
                            <p class="text-sm zinc-500 fw-regular pe-1">
                                08:19 PM
                            </p>
                            <p class="text-sm zinc-500 fw-regular">
                                | 24 Sep 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div
                class="col-lg-4 col-md-6 card-2-testimoni mt-3 mt-md-3"
                data-aos="zoom-in"
                data-aos-duration="400"
            >
                <div class="wrapper-testimoni p-3">
                    <!-- Profile -->
                    <div
                        class="profile d-flex align-items-center justify-content-between"
                    >
                        <div class="profile-left d-flex align-items-center">
                            <!-- Picture -->
                            <div class="profile-picture-2"></div>

                            <div class="profile-title mt-3 ms-3">
                                <h2 class="text-normal zinc-50 fw-semibold">
                                    Catheline Clain
                                </h2>
                                <p
                                    class="text-sm zinc-500 fw-regular"
                                    style="margin-top: -4px"
                                >
                                    @cathy
                                </p>
                            </div>
                        </div>

                        <div class="profile-right">
                            <i
                                class="fa-brands fa-x-twitter text-4xl fw-medium zinc-100"
                            ></i>
                        </div>
                    </div>

                    <!-- Content Comment -->
                    <div class="content-comment mt-2">
                        <p class="text-sm zinc-100 fw-medium">
                            good work and clean
                        </p>
                    </div>

                    <!-- Like and Comment -->
                    <div
                        class="information d-flex align-items-center justify-content-between"
                        style="margin-top: -16px"
                    >
                        <!-- Left: Like and comment -->
                        <div class="wrapper-like-comment d-flex">
                            <!-- Like -->
                            <div class="like d-flex align-items-center">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-heart-alt text-2xl zinc-500"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        69
                                    </p>
                                </div>
                            </div>
                            <!-- Comment -->
                            <div class="comment d-flex align-items-center ms-2">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-comment-dots zinc-500 text-2xl"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        48
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Right: Date time -->
                        <div
                            class="wrapper-datetime d-flex align-items-center mt-3"
                        >
                            <p class="text-sm zinc-500 fw-regular pe-1">
                                10:22 AM
                            </p>
                            <p class="text-sm zinc-500 fw-regular">
                                | 26 Sep 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div
                class="col-lg-4 col-md-6 card-3-testimoni mt-3 mt-md-3"
                data-aos="zoom-in"
                data-aos-duration="500"
            >
                <div class="wrapper-testimoni p-3">
                    <!-- Profile -->
                    <div
                        class="profile d-flex align-items-center justify-content-between"
                    >
                        <div class="profile-left d-flex align-items-center">
                            <!-- Picture -->
                            <div class="profile-picture-3"></div>

                            <div class="profile-title mt-3 ms-3">
                                <h2 class="text-normal zinc-50 fw-semibold">
                                    Stevans Naedaro
                                </h2>
                                <p
                                    class="text-sm zinc-500 fw-regular"
                                    style="margin-top: -4px"
                                >
                                    @itssteeeve
                                </p>
                            </div>
                        </div>

                        <div class="profile-right">
                            <i
                                class="fa-brands fa-x-twitter text-4xl fw-medium zinc-100"
                            ></i>
                        </div>
                    </div>

                    <!-- Content Comment -->
                    <div class="content-comment mt-2">
                        <p class="text-sm zinc-100 fw-medium">
                            An excellent showcase of talent! The website is
                            beautifully designed and user-friendly. The
                            attention to detail in the presentation of projects
                            makes it clear how skilled and professional the
                            creator is.
                        </p>
                    </div>

                    <!-- Like and Comment -->
                    <div
                        class="information d-flex align-items-center justify-content-between"
                        style="margin-top: -16px"
                    >
                        <!-- Left: Like and comment -->
                        <div class="wrapper-like-comment d-flex">
                            <!-- Like -->
                            <div class="like d-flex align-items-center">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-heart-alt text-2xl zinc-500"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        48
                                    </p>
                                </div>
                            </div>
                            <!-- Comment -->
                            <div class="comment d-flex align-items-center ms-2">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-comment-dots zinc-500 text-2xl"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        32
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Right: Date time -->
                        <div
                            class="wrapper-datetime d-flex align-items-center mt-3"
                        >
                            <p class="text-sm zinc-500 fw-regular pe-1">
                                09:11 AM
                            </p>
                            <p class="text-sm zinc-500 fw-regular">
                                | 31 Sep 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4-->
            <div
                class="col-lg-4 col-md-6 card-4-testimoni"
                data-aos="zoom-in"
                data-aos-duration="600"
            >
                <div class="wrapper-testimoni p-3">
                    <!-- Profile -->
                    <div
                        class="profile d-flex align-items-center justify-content-between"
                    >
                        <div class="profile-left d-flex align-items-center">
                            <!-- Picture -->
                            <div class="profile-picture-4"></div>

                            <div class="profile-title mt-3 ms-3">
                                <h2 class="text-normal zinc-50 fw-semibold">
                                    Emily Jonson
                                </h2>
                                <p
                                    class="text-sm zinc-500 fw-regular"
                                    style="margin-top: -4px"
                                >
                                    @emilyyy
                                </p>
                            </div>
                        </div>

                        <div class="profile-right">
                            <i
                                class="fa-brands fa-discord text-4xl fw-medium zinc-100"
                            ></i>
                        </div>
                    </div>

                    <!-- Content Comment -->
                    <div class="content-comment mt-2">
                        <p class="text-sm zinc-100 fw-medium">
                            <span class="teal-400"> @Helios </span>is an
                            exceptional portfolio website! It’s clean,
                            professional, and highlights the creator’s talents
                            perfectly. The navigation is seamless, making it
                            easy to explore the projects showcased.
                        </p>
                    </div>

                    <!-- Like and Comment -->
                    <div
                        class="information d-flex align-items-center justify-content-between"
                        style="margin-top: -16px"
                    >
                        <!-- Left: Like and comment -->
                        <div class="wrapper-like-comment d-flex">
                            <!-- Like -->
                            <div class="like d-flex align-items-center">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-heart-alt text-2xl zinc-500"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        87
                                    </p>
                                </div>
                            </div>
                            <!-- Comment -->
                            <div class="comment d-flex align-items-center ms-2">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-comment-dots zinc-500 text-2xl"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        67
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Right: Date time -->
                        <div
                            class="wrapper-datetime d-flex align-items-center mt-3"
                        >
                            <p class="text-sm zinc-500 fw-regular pe-1">
                                09:19 AM
                            </p>
                            <p class="text-sm zinc-500 fw-regular">
                                | 05 Oct 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 5-->
            <div
                class="col-lg-4 col-md-6 card-5-testimoni"
                data-aos="zoom-in"
                data-aos-duration="700"
            >
                <div class="wrapper-testimoni p-3">
                    <!-- Profile -->
                    <div
                        class="profile d-flex align-items-center justify-content-between"
                    >
                        <div class="profile-left d-flex align-items-center">
                            <!-- Picture -->
                            <div class="profile-picture-5"></div>

                            <div class="profile-title mt-3 ms-3">
                                <h2 class="text-normal zinc-50 fw-semibold">
                                    Billie
                                </h2>
                                <p
                                    class="text-sm zinc-500 fw-regular"
                                    style="margin-top: -4px"
                                >
                                    @bill_bill_bill
                                </p>
                            </div>
                        </div>

                        <div class="profile-right">
                            <i
                                class="fa-brands fa-github text-4xl fw-medium zinc-100"
                            ></i>
                        </div>
                    </div>

                    <!-- Content Comment -->
                    <div class="content-comment mt-2">
                        <p class="text-sm zinc-100 fw-medium">
                            <span class="teal-400">@Helios </span>offers a
                            stunning user experience! It’s beautifully designed
                            and highly functional. The portfolio reflects
                            professionalism and creativity, making it a pleasure
                            to explore
                        </p>
                    </div>

                    <!-- Like and Comment -->
                    <div
                        class="information d-flex align-items-center justify-content-between"
                        style="margin-top: -16px"
                    >
                        <!-- Left: Like and comment -->
                        <div class="wrapper-like-comment d-flex">
                            <!-- Like -->
                            <div class="like d-flex align-items-center">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-heart-alt text-2xl zinc-500"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        66
                                    </p>
                                </div>
                            </div>
                            <!-- Comment -->
                            <div class="comment d-flex align-items-center ms-2">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-comment-dots zinc-500 text-2xl"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        46
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Right: Date time -->
                        <div
                            class="wrapper-datetime d-flex align-items-center mt-3"
                        >
                            <p class="text-sm zinc-500 fw-regular pe-1">
                                08:09 AM
                            </p>
                            <p class="text-sm zinc-500 fw-regular">
                                | 12 Oct 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 6-->
            <div
                class="col-lg-4 col-md-6 card-6-testimoni"
                data-aos="zoom-in"
                data-aos-duration="800"
            >
                <div class="wrapper-testimoni p-3">
                    <!-- Profile -->
                    <div
                        class="profile d-flex align-items-center justify-content-between"
                    >
                        <div class="profile-left d-flex align-items-center">
                            <!-- Picture -->
                            <div class="profile-picture-6"></div>

                            <div class="profile-title mt-3 ms-3">
                                <h2 class="text-normal zinc-50 fw-semibold">
                                    Martin Clever
                                </h2>
                                <p
                                    class="text-sm zinc-500 fw-regular"
                                    style="margin-top: -4px"
                                >
                                    @Marrr
                                </p>
                            </div>
                        </div>

                        <div class="profile-right">
                            <i
                                class="fa-brands fa-facebook text-4xl fw-medium zinc-100"
                            ></i>
                        </div>
                    </div>

                    <!-- Content Comment -->
                    <div class="content-comment mt-2">
                        <p class="text-sm zinc-100 fw-medium">
                            Great Job Dude🙌
                        </p>
                    </div>

                    <!-- Like and Comment -->
                    <div
                        class="information d-flex align-items-center justify-content-between"
                        style="margin-top: -16px"
                    >
                        <!-- Left: Like and comment -->
                        <div class="wrapper-like-comment d-flex">
                            <!-- Like -->
                            <div class="like d-flex align-items-center">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-heart-alt text-2xl zinc-500"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        88
                                    </p>
                                </div>
                            </div>
                            <!-- Comment -->
                            <div class="comment d-flex align-items-center ms-2">
                                <div class="icon-like">
                                    <i
                                        class="uil uil-comment-dots zinc-500 text-2xl"
                                    ></i>
                                </div>
                                <div class="like-increment ms-1 mt-3">
                                    <p class="text-sm fw-regular zinc-500">
                                        55
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Right: Date time -->
                        <div
                            class="wrapper-datetime d-flex align-items-center mt-3"
                        >
                            <p class="text-sm zinc-500 fw-regular pe-1">
                                12:01 PM
                            </p>
                            <p class="text-sm zinc-500 fw-regular">
                                | 28 Oct 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimoni and contacts -->

{%endblock%}
<!-- Script -->
{%block script%}
<script src="{{url_for('static', filename='frontend/js/script.js')}}"></script>
{%endblock%}
